<link rel="stylesheet" type="text/css" href="style.css">

<script src="template.js"></script>
<div class="applicationcontainer" id="application">
    <div class="row" id="applicationheader">
        <div class="column left">
            <button class="dot" style="background:#ED594A;" onclick="toggleApplication()"></button>
            <button class="dot" style="background:#FDD800;" onclick="toggleApplication()"></button>
        </div>
        <div class="column middle">
            <span style="color:black">Application Name</span>
        </div>
        <div class="column right">
            <div style="float:right">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
    <div class="applicationcontent">
        Insert your application here
    </div>
</div>
