/* The application window */

#template {
	display: inline-block;
	background-color: grey;
}

#templateheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #f1f1f1;
	color: #fff;
}


/* Page content */

.templatecontent {
	width: 595px;
	height: 460px;
	min-width: 250px;
	min-height: 100px;
	overflow: scroll;
	resize: both;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	padding: 0;
	display: block;
}

#outerdiv {}

#inneriframe {
	width: 100%;
	height: 100%;
}
